<div class="container-fluid">
    <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Kolom</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <%=link_to new_kolom_path, class: "btn btn-sm btn-success" do%>
            <i class="fas fa-plus"></i> Tambah Kolom
          <%end%>
        </div>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-3">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Jumlah Keluarga</th>
                <th>Jumlah Anggota</th>
                <th>Action</th>
              </tr>
            </thead>
              <%@koloms.each_with_index do |kolom,index|%>
                <tbody>
                  <td><%=index+1%></td>
                  <td style="text-align: center;"><%=kolom.nama%></td>
                  <td><%= kolom.jumlah_nama_keluarga%> Keluarga</td>
                  <td><%= kolom.jumlah_anggota_keluarga%> Anggota</td>
                  <td>
                    <div class="row">
                      <div class="col-lg-2">
                        <%=link_to kolom_path(kolom), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?"} do%>
                          <i class="fas fa-trash"></i>
                        <%end%>
                      </div>  
                    </div>
                  </td>
                </tbody>
              <%end%>
          </table>
           </div>
      </div>
    </div>
  </div>

</div>