<div class="row">
  <div class="col-4">
    <%= f.input :nama %>
  </div>
  <div class="col-4">
    <%= f.input :nik %>
  </div>
  <div class="col-4">
    <%= f.input :jenis_kelamin, include_blank: false, collection: AnggotaKeluarga.jenis_kelamins.keys.map { |w| [w.humanize, w] }%>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <%= f.input :tempat_lahir%>
  </div>
  <div class="col-4">
    <%= f.input :tanggal_lahir%>
  </div>
</div>
 <%= link_to_remove_association "hapus anggota", f %>