<div class="container-fluid">  
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%=params[:action].capitalize%> Keluarga</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <%= simple_form_for @nama_keluarga do |f| %>
            <div class="row">
              <div class="col-4">
                <%= f.input :nama %>
              </div>
              <div class="col-4">
                <%= f.input :nomor_kartu_keluarga %>
              </div>
              <div class="col-4">
                <%= f.input :kolom_id, include_blank: false, :collection => Kolom.all,:label_method => :nama,
                :value_method => :id,:label => "Kolom" ,:include_blank => false  %>
              </div>
              <div class="col-lg-12">
               <h6 class="m-0 font-weight-bold text-primary">Data Anggota Keluarga :</h6>
                <br>
              </div>  
                <div class="col-lg-12">
                  <%= f.simple_fields_for :anggota_keluargas do |anggota|%>
                    <%= render 'anggota_keluarga_fields', f: anggota%>
                  <%end%>
                  <div class="links">
                    <%= link_to_add_association 'Tambah Anggota', f, :anggota_keluargas, class: "btn btn-sm btn-success"%>
                  </div>
                  <br>
              </div>       
            </div>
              <%= f.button :submit, class: "btn btn-info" %>
              <%= link_to "Cancel", nama_keluargas_path, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
