<div class="container-fluid">
    <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Jemaat yang Berulang Tahun Tanggal <%=Date.today.beginning_of_week.strftime("%d  ") + " - " + Date.today.end_of_week.strftime("%d %b %Y")%></h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-3">
        <%=link_to admins_ulang_tahun_minggu_ini_path(format: :xlsx), class: "btn btn-success col-md-12 with-margin" do%>
            <i class="fas fa-download"></i> Download Data Excel
          <%end%>
        </div>
      </div>
      <br>
      <h3>Data Ulang Tahun Kelahiran</h3>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama Anggota</th>
                <th>Umur Ke</th>
                <th>Keluarga</th>
                <th>Kolom</th>
              </tr>
            </thead>
              <%@anggota_keluargas.each_with_index do |anggota,index|%>
                <tbody>
                  <td><%=index+1%></td>
                  <td><%=anggota.nama.humanize%></td>
                  <td><%=anggota.umur + 1%> Tahun</td>
                  <td><%=anggota.nama_keluarga.nama%></td>
                  <td><%=anggota.nama_keluarga.kolom%></td>
                </tbody>
              <%end%>
          </table>
            <%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} %>
        </div>
      </div>
      <br>
      <h3>Data Ulang Tahun Pernikahan</h3>
       <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Ulang Tahun Ke</th>
                <th>Keluarga</th>
                <th>Kolom</th>
              </tr>
            </thead>
              <%@nama_keluargas.each_with_index do |nama,index|%>
                <tbody>
                  <td><%=index+1%></td>
                  <td><%=nama.umur_pernikahan + 1%> Tahun</td>
                  <td><%=nama.nama%></td>
                  <td><%=nama.kolom%></td>
                </tbody>
              <%end%>
          </table>
            <%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} %>
        </div>
      </div>
    </div>
  </div>

</div>