<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <%= render "devise/shared/error_messages", resource: resource %>
                                <div class="form-group">
                                  <%= f.input :username, autofocus: true, placeholder: "Username", label: false, input_html: {class: "form-control form-control-user"} %>
                                </div>
                                <div class="form-group">
                                  <%= f.input :password, autocomplete: "current-password", placeholder: "Password", input_html: {class: "form-control form-control-user"}, label: false%>
                                </div>
                            <div class="actions">
                              <%= f.submit "Login", class: 'btn btn-primary btn-user btn-block' %>
                            </div>
                            <hr>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      </div>
    </div>
  </div>
</body>

<script>
$( '#form' ).on( 'status.field.bv', function( e, data ) {
    let $this = $( this );
    let formIsValid = true;

    $( '.form-group', $this ).each( function() {
        formIsValid = formIsValid && $( this ).hasClass( 'has-success' );
    });

    $( '.submit-button', $this ).attr( 'disabled', !formIsValid );
});
</script>