<div class="container-fluid">
    <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Anak Sekolah Minggu</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-9">
        <%= search_form_for @q, url: asm_admins_anggota_keluargas_path do |f| %>               
          <div class="row">
            <div class="col-9">
              <%= f.search_field :nama_cont, placeholder: "Cari Nama", class: 'form-control admin-search col-md-12' %>
            </div>
            <div class="col-3">
              <%= f.button :Search, class: "btn btn-success col-md-12 with-margin" do%>    
                <i class="fas fa-search"></i>
              <%end%>  
            </div>  
          </div>
        <%end%>
        </div>
        <div class="col-lg-3">
        <%=link_to asm_admins_anggota_keluargas_path(format: :xlsx), class: "btn btn-success col-md-12 with-margin" do%>
            <i class="fas fa-download"></i> Download Data Excel
          <%end%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama Anggota</th>
                <th>Umur</th>
                <th>Keluarga</th>
                <th>Kolom</th>
              </tr>
            </thead>
              <%@anggota_keluargas.each_with_index do |anggota,index|%>
                <tbody>
                  <td><%=index+1%></td>
                  <td><%=anggota.nama.humanize%></td>
                  <td><%=anggota.umur%> Tahun</td>
                  <td><%=anggota.nama_keluarga.nama%></td>
                  <td><%=anggota.nama_keluarga.kolom%></td>
                  
                </tbody>
              <%end%>
          </table>
            <%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} %>
        </div>
      </div>
    </div>
  </div>

</div>