<div class="container-fluid">
    <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Anggota</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-12">
        <%= search_form_for @q, url: admins_anggota_keluargas_path do |f| %>               
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <%= f.search_field :nama_cont, placeholder: "Cari Nama", class: 'form-control admin-search  col-12 with-margin' %>
            </div>
            <div class="col-lg-6 col-md-12">
              <%= f.button :Search, class: "btn btn-success col-lg-6 col-md-12 with-margin" do%>    
                <i class="fas fa-search"></i> Search
              <%end%> 
            </div>  
          </div>
        <%end%>
        </div>
        <div class="col-lg-3 col-md-12">
        <%=link_to admins_anggota_keluargas_path(format: :xlsx), class: "btn btn-success col-md-12 with-margin" do%>
            <i class="fas fa-download"></i> Download Data Excel
          <%end%>
        </div>
        <div class="col-lg-3 col-md-12">
        <%=link_to new_admins_anggota_keluargas_import_path, class: "btn btn-success col-md-12 with-margin" do%>
            <i class="fas fa-upload"></i> Upload Dari Excel
          <%end%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama Anggota</th>
                <th>Umur</th>
                <th>Keluarga</th>
                <th>Kolom</th>
                <th></th>
              </tr>
            </thead>
              <%@anggota_keluargas.each_with_index do |anggota,index|%>
                <tbody>
                  <td><%=index+1%></td>
                  <td><%=anggota.nama.humanize%></td>
                  <td><%=anggota.umur%> Tahun</td>
                  <td><%=anggota.nama_keluarga.nama%></td>
                  <td><%=anggota.nama_keluarga.kolom%></td>
                  <td>
                   <div class="row">
                      <div class="col-lg-2">
                        <%=link_to set_meninggal_admins_anggota_keluarga_path(anggota.id), class: "btn btn-sm btn-danger", method: :patch, data: { confirm: "Anda Yakin ?"} do%>
                          Meninggal?
                        <%end%>
                      </div>  
                    </div>
                  </td>
                </tbody>
              <%end%>
          </table>
            <%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} %>
          </div>
      </div>
    </div>
  </div>

</div>