<div class="container-fluid">
    <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Import Data dari Excel</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <p>
            Catatan: Gunakan Template Di Bawah
          </p>
        </div>
        <div class="col-lg-6 col-md-12">
          <%=link_to template_admins_anggota_keluargas_path(format: :xlsx), class: "btn btn-success" do%>
            <i class="fas fa-download"></i> Download Template Excel
          <%end%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <h3 style ="color: red">Perhatikan!!</h3>
        </div>
        <div class="col-12">
          <ul style ="color: red">
            <li>Jenis Kelamin Diisi dengan : Pria atau Wanita</li>
            <li>Status Hubungan Diisi dengan : Kepala Keluarga, Istri, Anak atau Orang Tua</li>
            <li>Status Perkawinan Diisi dengan : Kawin, Belum Kawin, Cerai Hidup atau Cerai Mati</li>
            <li>Sidi dan Baptis Diisi dengan : Sudah atau Belum</li>
            <li>Perhatikan format pengisian tanggal pada excel sudah dalam format dd/mm/YYYY</li>
          </ul>
        </div>
      </div>

        <h5>Pilih File</h5>
        <%= form_for [:admins, @anggota_keluargas_import] do |f| %>
          <% if @anggota_keluargas_import.errors.any? %>
            <%= pluralize(@anggota_keluargas_import.errors.count, "error") %> dari file yang diupload. Tolong ubah data pada excel dan coba lagi.
            <ul>
              <% @anggota_keluargas_import.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="button-wrap">
            <%= f.file_field :file%>
          </div>
          <br>
          <%= f.submit "Import File", class: "btn btn-info" %>
        <% end %>

    </div>
  </div>
</div>